{
  "presets": [
    ["env", {
      "targets": { "browsers": ["last 2 versions", "safari >= 7"] },
      "modules": false
    }],
    "flow"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": "current" },
          "modules": "commonjs"
        }]
      ]
    },
    "production": {
      "plugins": ["external-helpers"]
    }
  }
}
